<app-nav-bar></app-nav-bar>
<section class="section" id="blog">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-7 text-center text-black-50">
              <div class="section-title">
                  <h2>Ultimas Noticias</h2>
                  <p>Noticias del mundo economico</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4">
              <div class="blog-grid">
                  <div class="blog-img">
                      <div class="date">04 FEB</div>
                      <a href="#">
                          <img src="https://via.placeholder.com/350x280/FFB6C1/000000" title="" alt="">
                      </a>
                  </div>
                  <div class="blog-info">
                      <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                      <div class="btn-bar">
                          <a href="#" class="px-btn-arrow">
                              <span>Read More</span>
                              <i class="arrow"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="blog-grid">
                  <div class="blog-img">
                      <div class="date">04 FEB</div>
                      <a href="#">
                          <img src="https://via.placeholder.com/350x280/87CEFA/000000" title="" alt="">
                      </a>
                  </div>
                  <div class="blog-info">
                      <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                      <div class="btn-bar">
                          <a href="#" class="px-btn-arrow">
                              <span>Read More</span>
                              <i class="arrow"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="blog-grid">
                  <div class="blog-img">
                      <div class="date">04 FEB</div>
                      <a href="#">
                          <img src="https://via.placeholder.com/350x280/FF7F50/000000" title="" alt="">
                      </a>
                  </div>
                  <div class="blog-info">
                      <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                      <div class="btn-bar">
                          <a href="#" class="px-btn-arrow">
                              <span>Read More</span>
                              <i class="arrow"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>
