<footer
      id="footer"
      data-aos="fade-up"
      data-aos-easing="ease-in-out"
      data-aos-duration="500"
    >
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Cómo Funciona</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="equipo.html">Nosotros</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="contactanos.html">Contáctanos</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Address</h4>
              <address>
                Escuela Superior Politecnica del Litoral<br />
                <i class="fa fa-envelope fa-lg"></i>:
                <a href="mailto:ronhuseg@espol.edu.ec">ronhuseg@espol.edu.ec</a
                ><br />
                <i class="fa fa-envelope fa-lg"></i>:
                <a href="mailto:myortega@espol.edu.ec">myortega@espol.edu.ec</a
                ><br />
                <i class="fa fa-envelope fa-lg"></i>:
                <a href="mailto:haivcarr@espol.edu.ec">haivcarr@espol.edu.ec</a
                ><br />
                <i class="fa fa-envelope fa-lg"></i>:
                <a href="mailto:ccarlier@espol.edu.ec">ccarlier@espol.edu.ec</a
                ><br />
              </address>
            </div>

            <div class="col-lg-3 col-md-6 footer-info">
              <h3>Sobre Nosotros</h3>
              <p>
                Estudiantes de ESPOL cursando la materia de
                Desarrollo Web y Movil.
              </p>
            </div>
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>

              <a
                class="btn btn-social-icon btn-google"
                href="http://google.com/+"
                ><i class="fa fa-google-plus fa-lg"></i
              ></a>
              <a
                class="btn btn-social-icon btn-facebook"
                href="http://www.facebook.com/profile.php?id="
                ><i class="fa fa-facebook fa-lg"></i
              ></a>
              <a
                class="btn btn-social-icon btn-linkedin"
                href="http://www.linkedin.com/in/"
                ><i class="fa fa-linkedin fa-lg"></i
              ></a>
              <a
                class="btn btn-social-icon btn-twitter"
                href="http://twitter.com/"
                ><i class="fa fa-twitter fa-lg"></i
              ></a>
              <a
                class="btn btn-social-icon btn-google"
                href="http://youtube.com/"
                ><i class="fa fa-youtube fa-lg"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Soul Programmers</span></strong
          >. All Rights Reserved
        </div>
      </div>
    </footer>

