<section class="services">
  <div class="container">
    <h2>Tu planificador de finanzas diario</h2>
    <p id="frase">Mantener tu presupuesto no debería ser aburrido, debe ser fácil y rápido. MoneyTracker es una forma nueva de cuidar tu dinero, de una manera nunca antes vista.</p>
    <div class="row">
      <div
        class="col-md-6 col-lg-3 d-flex align-items-stretch"
        data-aos="fade-up"
      >
        <div class="icon-box icon-box-pink">
          <div class="icon"><i class="bi bi-cash-coin"></i></div>
          <h4 class="title"><a href="">Controla tus Gastos</a></h4>
          <p class="description">
            Lleva un registro de todos tus ingresos y gastos mensuales, así
            podrás ver en que consumes el dinero y decidir como utilizarlo
            de manera más inteligente.
          </p>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-3 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="icon-box icon-box-cyan">
          <div class="icon"><i class="bi bi-trophy-fill"></i></div>
          <h4 class="title"><a href="">Alcanza Metas</a></h4>
          <p class="description">
            Fíjate metas a corto y largo plazo. Puedes crear mejores hábitos
            de consumo y reunir para alcanzar tus metas financieras.
          </p>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-3 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="icon-box icon-box-green">
          <div class="icon"><i class="bi bi-graph-up"></i></div>
          <h4 class="title"><a href="">Visualiza tus Estadísticas</a></h4>
          <p class="description">
            Obtén un sinnúmero de gráficos estadísticos de todas tus
            acciones financieras.
          </p>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-3 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="icon-box icon-box-blue">
          <div class="icon"><i class="bi bi-bell-fill"></i></div>
          <h4 class="title"><a href="">Realiza tus Pagos a Tiempo</a></h4>
          <p class="description">
            No vuelvas a atrasarte en un pago, con MoneyTrack agenda tus
            pagos y recibe notificaciones cuando sea de realizarlo.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

