<header class="d-flex">
  <div><nav class="navbar navbar-expand-lg navbar-dark fixed-top px-5">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/img/logo-01.png" alt="" >
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/noticias">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/equipo">Equipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactanos">Contáctanos</a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0" id="btI">
        <span id="botonLogin" class="btn btn-outline-primary mr-sm-2" role="button">
          <a routerLink="/login">Iniciar Sesion</a>
        </span>
        <span class="btn btn-primary mr-sm-2" id="botonRegistro" role="button" >
          <a routerLink="/registro">Registrarse</a>
        </span>
      </ul>
    </div>
  </nav>
</div>
</header>
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="content">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="madal-tittle">Login</h4>
              <button type="button" class="close" data-dismiss="modal">
                  &times;
              </button>
          </div>
          <div class="modal-body">
                  <div class="form-row">
                      <div class="form-group col-sm-6">
                          <label for="usrname"><span class="fa fa-user"></span> Username or Email</label>
                          <input type="email" class="form-control form-control-sm mr-1" id="exampleInputEmail3" placeholder="Enter email">
                      </div>
                      <div class="form-group col-sm-6">
                          <label for="psw"><span class="fa fa-eye"></span> Password</label>
                          <input type="password" class="form-control form-control-sm mr-1" id="exampleInputPassword3" placeholder="Password">
                      </div>
                      <div class="col-sm-12">
                          <div class="form-check">
                              <div class="text-center text-sm-left"></div>
                              <input class="form-check-input" type="checkbox">
                              <label class="form-check-label"> Remember me </label>
                              <div class="text-center text-sm-right">
                                <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                                <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                              </div>
                          </div>
                      </div>
                  </div>

          </div>
          <div class="modal-footer">
                  <button id="SigC" type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                  <button id="SigL" type="button" class="btn btn-primary btn-sm ml-1">Sign in</button>
          </div>
      </div>
  </div>
</div>
