<body>
    

<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
            <a routerLink='/' ><img class="mb-4" src="../assets/img/logo-02.png" alt="Moneytracker logo" width="auto" height="100"></a>
            <h6 class="card-title mb-3 text-center font-weight-bold">¡Bienvenido!</h6>
            <form method="POST" action="http://localhost:4000/api/cliente/login">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group"> <input class="form-control" type="text" placeholder="Correo"
                                    name="correo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group"> <input class="form-control" type="password" placeholder="Password"
                                    name="pass">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block confirm-button">Guardar</button>
            </form>
        </div>
    </div>
</div>
<p class="mt-5 mb-3 text-muted">¿No tienes una cuenta?</p>
<a routerLink='/registro'>Regístrate aquí</a>
</body>