<section class="appdemo">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <img src="../../assets/img/3516835_Mesa de trabajo 1.png" alt="">
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <h2>Tus datos, sin romperte la cabeza</h2>
        <p id="frase">Con el dashboard podrás revisar tus estadísticas en una interfaz intuitiva, con gráficos que te ayudarán a entender tus distintas necesidades financieras</p>
      </div>
    </div>
  </div>
</section>

